
<form [formGroup]="form">

  <app-template-control [form]="form" formControlName="destination"
  label=" Destination Name" placeHolder="Your Destination"> </app-template-control>

  <div>
    <label for="agencyId"> Agency Id</label>
    <select name="agencyId"
            formControlName="agencyId">
      <option value="" selected>Select a Agency Id</option>
      <option *ngFor="let agency of agencies"
              [value]="agency.id">{{ agency.name }}</option>
    </select>
    <small *ngIf="mustShowMessage('agencyId')">{{ getErrorMessage('agencyId') }}</small>
  </div>

  <app-template-control [form]="form" formControlName="places"
  label="Places" placeHolder="" inputType="number"> </app-template-control>

  <app-template-control [form]="form" formControlName="flightPrice"
  label="Price" placeHolder="" inputType="number"> </app-template-control>

  <app-template-control [form]="form" formControlName="startDate"
  label="Date from" placeHolder="" inputType="date"> </app-template-control>

  <app-template-control [form]="form" formControlName="endDate"
  label="Date to" placeHolder="" inputType="date"> </app-template-control>

  <button type="submit"
  (click)="onSubmitClick()"
  [disabled]="form.invalid"> Send new trip data </button>
</form>

