

<form [formGroup]="form">
  <div>
    <label for="tripId"> Trip Id</label>
    <select name="tripId"
            formControlName="tripId">
      <option value="" selected>Select a Trip Id</option>
      <option *ngFor="let trip of trips"
              [value]="trip.id">{{ trip.id }}</option>
    </select>
    <small *ngIf="mustShowMessage('tripId')">{{ getErrorMessage('tripId') }}</small>
  </div>

  <app-template-control [form]="form" formControlName="passengerName"
  label="Passenger Name" placeHolder="Your passenger Name" inputType="text"> </app-template-control>

  <app-template-control [form]="form" formControlName="date"
  label="Date" placeHolder="" inputType="date"> </app-template-control>

  <app-template-control [form]="form" formControlName="luggageKilos"
  label="Kg" placeHolder="" inputType="number"> </app-template-control>

  <app-template-control [form]="form" formControlName="hasPremiumFoodPrice"
  label="Premium Food" placeHolder="" inputType="checkbox"> </app-template-control>


  <button [disabled]="form.invalid"
          (click)="onSubmitClick()">Save</button>
</form>
